.statistics {
    overflow-y: scroll;
    height: 100vh;
    margin-bottom: 70px;

    @media screen and (min-width: 768px) {
        margin-bottom: 0;
    }
}

.statistic-transaction-item {
    border: 1px solid var(--color-primary);
    border-radius: 8px;
    margin: 5px;
    padding: 5px;

    &.income {
        background-color: vaR(--color-success);
    }

    &.expense {
        background-color: var(--color-warning);
    }
}